@{
    ViewData["Title"] = "Página Inicial";
}

<div id="area-principal">
    <div class="centralizarTexto">
        <h1>Bem vindo!</h1>

    </div>
    <div class="postagem centralizarTexto">
        <h3>Ao meu primeiro projeto web com ASP.NET MVC</h3>
        <p> Salve seus contatos na aba [Contatos]. Você pode adicionar, editar e excluir os seus contatos quando quiser.</p>

        <p>
            São dois tipos de perfis no sistema, o perfil administrador e o perfil padrão. A diferença
            é que o administrador pode adicionar outros usuários e dizer se eles serão 'administrador' ou 'padrão'.
        </p>

        <p class="text-white">.</p>
        <p class="text-white">.</p>
        <p class="text-white">.</p>
        <p><strong>Ainda tem muito trabalho por aqui, embreve acrescentarei outras funções.</strong></p>

    </div>
</div>
