@{
    ViewData["Title"] = "Página Inicial";
}

<div id="area-principal">
    <div class="centralizarTexto">
        <h1 class="display-4">Bem vindo!</h1>

    </div>
    <div class="postagem">
        <p class="centralizarTexto">Criando uma agenda para controle de contatos</p>
    </div>
</div>
