@model UserModel



<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-white">Olá, @Model.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">| Página Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">| Contatos</a>
        </li>

        @if (Model.Perfil == ControleDeContato.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">| Usuários</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="ChangePassword" asp-action="Index">| Alterar Senha</a>
        </li>

        <li class="nav-item">
            <a class="nav-link  text-light" asp-area="" asp-controller="Login" asp-action="ExitLogin">| Sair |</a>
        </li>
    </ul>
</div>
